*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    background-image: linear-gradient(to bottom , #1b1b1b, #121212);
    background-attachment: fixed;
}
.search{
    float: left;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    overflow: visible;
    height: 110px;
}
.search-bar{
    width: 50%;
    min-width: 270px;
    max-width: 700px;
    border-radius: 50px;
    background: #292929;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 15px;
    font-size: 15px;
    color: #CAC7FF;
}

::placeholder{
    color: #CAC7FF
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    fill:#FFF;
    background: #58629b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img{
    width: 25px;
}
.search-shadow{
    width: 50%;
    position: relative;
    opacity: 100%;
    top: -60px;
    min-width: 270px;
    max-width: 700px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    z-index: 2;
    box-shadow: -10px -10px 16px #373737;
    z-index: -1;
}
.suggestList{
    width: 50%;
    min-width: 270px;
    max-width: 700px;
    top:-87px;
    position: relative;
    list-style: none;
    z-index: 1;
    background: #292929;
    box-shadow: -10px -10px 16px #373737;
    color: #CAC7FF;
    padding: 30px 35px 10px 35px;
    border-radius: 0 0 20px 20px;
}
.regsterText {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #58629b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.musicList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    padding: 0 10%;
    padding-bottom: 100px;
}
.musicList div{
    width: 260px;
    height: 350px;

}
.musicList div div{
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    border-radius: 12px
}
.musicList div div img{
    width: 260px;

}
.songName{
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
}
.artistsName{
    display: block;
    color: #a7a7a7;
    font-family: "微软雅黑";
}
/* .isNotShow{
    display: none;
} */
/* 底部 */
footer{
    position: fixed;
    bottom: 0;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #181818;
    color: #fff;
}
.left{
    height: 56px;
    width: 30%;
    display: flex;
    align-items: center;
}
.center{
    height: 59.2px;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right{
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    fill: #FFF;
    width: 30%;
    gap: 3px;
}

/* 左边 */
.songCover{
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
}
.songCover img{
    width: 56px;
    height: 56px;
}
.songInfo{
    margin: 0 14px;
}
.songTitle{
    font-size: 14px;
}
.songSinger{
    font-size: 12px;
    color: #B3B3B3;
}

/* 中间 */
.playerControls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 8px;
}
.playerControlsLeft{
    fill:#b9b9b9;
    display: flex;
    justify-content: right;
    gap: 8px;
}
.playerControlsMiddle{
    box-shadow: -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.4);
    fill:#000;
    background-color: #FFF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerControlsMiddle:active{
    transform: translateY(2px);
}
.playerControlsRight{
    fill:#b9b9b9;
    display: flex;
    justify-content: left;
    gap: 8px;
}
.playerControlsLeft div,.playerControlsRight div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.playerBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.playerBar div{
    font-size:12px;
    color: #A7A7A7;
}
.playerBar:nth-child(1){
    text-align: right;
    min-width: 40px;
}
.playerBar:nth-child(3){
    text-align: left;
    min-width: 40px;
}
.progressBar{
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.1);
    width: 100%;
    position: relative; 
}
.progressBackground{
    height: 4px;
    border-radius: 2px;
    background-color: #585858;
    overflow: hidden;
}
.progressFill{
    position: relative;
    right: 100%;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
}
.hovered .progressBackground{
    height: 5px;
}
.hovered .progressFill{
    height: 5px;
    background: linear-gradient(to right, #3baa7b, #62bc68);
}
.progressBar span{
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -3px;
    background-color: #fff;
    border-radius: 50%;
}
/* 右边 */
.right{
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
}
.volumeBar{
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.1);
    margin-left: 5px;
    /* height: 7px; */
    width: 93px;
    position: relative;
}
.volumeBackground{
    height: 4px;
    border-radius: 2px;
    background-color: #585858;
    overflow: hidden;
}
.volumeFill{
    position: relative;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
}
.volumeBar span{
    content: ' ';
    display: inline-block;
    position: absolute;
    top: -3px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.hovered .volumeBackground{
    height: 6px;
}
.hovered .volumeFill{
    height: 6px;
    background: linear-gradient(to right, #3baa7b, #62bc68);
}
.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0, 0.5);
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-content {
    z-index: 4;
    position: relative;
    border-radius: 44px;
    background: linear-gradient(145deg, #161616, #1a1a1a);
    box-shadow:  27px 27px 53px #0b0b0b,
                -27px -27px 53px #252525;
    width: 500px;
    height: 300px;
    padding: 30px 40px;
    color: #FFF;
  }

@media screen and (max-width: 627px) {
    .search-bar{
        width: 90%;
        min-width: 270px;
        max-width: 700px;
        background: #484848;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 10px 10px;
        z-index: 2;
    }
    .search-bar input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 10px 15px;
        font-size: 15px;
        color: #CAC7FF;
    }
    .search-bar button{
        border: 0;
        min-width: 40px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #58629b;
        cursor: pointer;
    }
    .suggestList{
        width: 90%;
        min-width: 270px;
        max-width: 700px;
        top:-20px;
        position: relative;
        list-style: none;
        z-index: 1;
        background: #484848;
        color: #CAC7FF;
        padding: 30px 35px 10px 25px;
        border-radius: 0 0 20px 20px;
    }
}


/* 登录 */


.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
	z-index:1;
	transition:transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card .front,.card .back{
    position: absolute;
    text-align: center;
    background-color: #efeeee;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.card .front{
    z-index: 1;
}
.turn{
    text-align: right;
}

.close{
    border-radius: 50%;
    background: linear-gradient(145deg, #151515, #191919);
    box-shadow:  3px 3px 6px #0b0b0b,
                -3px -3px 6px #232323;
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #CAC7FF;
}

.inputText{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
    margin-top: 60px;
}

.inputText input{
    font-size: 15px;
    color: #AAA;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.inputText span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.inputText span::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.loginbutton{
    font-size: 20px;
    color: #CAC7FF;
    background: linear-gradient(145deg, #161616, #1a1a1a);
    box-shadow:  27px 27px 53px #0b0b0b,
                -27px -27px 53px #252525;
    border-radius: 3rem;
	transition: box-shadow .2s ease-out;
    position: relative;
    top: 20px;
    margin-top: 20px;
    width: 130px;
    height: 55px;
    outline: none;
    border:none;
}

.loginbutton:hover{
    font-size: 19px;
    box-shadow: 1px 1px 2px  #0b0b0b,
    -1px -1px 2px #252525;
    border-radius: 3rem;
    transition: box-shadow .2s ease-out;
    transition: font-size .2s ease-out;
}
.loginbutton:active{
    border-radius: 3rem;
    background: #181818;
    box-shadow: inset 27px 27px 53px #0b0b0b,
                inset -27px -27px 53px #252525;
}

.inputText span::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
}

.list{
    margin-right: 3px;
}
/* 不显示滚动条 */
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.playList{              /*播放列表*/
    background-color: #292929;
    width: 200px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top:-290px;
    right: 50px;
    border-radius: 5px;
    color: #fff;
    justify-content: center;
}
.songitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.song-details {
    display: flex;
    flex-direction: column;
}

.song-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.song-user {
    font-size: 14px;
    color: #58629b;
}
.delete-button {
    background-color: #58629b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}